.listing-card-container {
  position: relative;

  .listing-card-image-wrapper {
    position: relative;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }

    .listing-card-price {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.3rem 0.6rem;
      border-radius: 0.25rem;
      z-index: 2;
    }
  }

  .ant-card {
    position: relative;
    width: 210px;
    margin: 0.3rem;
    border: 1px solid var(--surface-border);
    border-radius: 8px;
    overflow: hidden;

    .ant-card-body {
      padding: 18px 14px;
    }
  }

  .listing-card-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .listing-card-location {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;
    font-weight: 500;

    .listing-category-icon {
      margin-right: 0.3rem;
      color: red;
    }
  }
}
