// listingCard

.listing-card-container {
  position: relative;

  .listing-card-price {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7); // Fondo semitransparente
    color: #fff; // Texto blanco
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0.6rem;
    border-radius: 0.25rem;
    z-index: 2; // Asegura que esté sobre la imagen
  }

  .ant-card {
    position: relative;
    overflow: hidden;
  }
}