.user-menu {
    .ant-avatar {
    //   background-color: #999999;
      color: #fff;
      cursor: pointer;
    }
  
    .ant-dropdown-menu {
      border-radius: 4px;
      min-width: 160px;
    }
  }
  