:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-white: #f8f9fa;

  --primary-color: #5d40dd;
  --hover-color: #8974E7;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//     --main-white: #1c1c1c;
//   }
// }

html,
body,
button,
input,
select,
textarea {
  font-family: "Wotfard", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
}

body {
  background-attachment: fixed;
  background-size: cover;
}

.ant-btn {
  font-family: "Wotfard", sans-serif;
}

.p-button-primary {
  border-radius: 4px;
  font-weight: 700;
}

.button-publish {
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 0.5rem !important;
}

.button-danger {
  background-color: red;
  font-weight: 500;
  
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  flex-grow: 1; /* This will make it take up the remaining space */
  margin: 0 auto;
  width: 100%;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.ant-back-top-icon {
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--hover-color);
  }
}

@media (min-width: 576px) {
  .main-container {
    max-width: 95%; /* tablets */
  }
}

@media (min-width: 768px) {
  .main-container {
    max-width: 85%; /* mid screens */
  }
}

@media (min-width: 1024px) {
  .main-container {
    max-width: 1200px; /* big screens */
  }
}
